---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Wacs Line Counter</title>
  </head>
  <body>
    <h1>Wacs Line Counter</h1>
    <p>
      Go to <a href="/WycliffeAssociates/en_tn_condensed"
        >WycliffeAssociates/en_tn_condensed</a>
    </p>
  </body>
</html>
